<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoftwareDevelopment1_Eindopdracht.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SoftwareDevelopment1_Eindopdracht.Properties.Settings>
            <setting name="ConnectionStrings" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MYDB;
Integrated Security=True; Connect Timeout=30; Encrypt=False;
TrustServerCertificate=False; ApplicationIntent=ReadWrite;
MultiSubnetFailover=False</value>
            </setting>
        </SoftwareDevelopment1_Eindopdracht.Properties.Settings>
    </applicationSettings>
</configuration>